//Karan Shah
//CS 546
//I pledge my honor that I have abided by the Stevens Honors System.

<!DOCTYPE html> 
<html>
    <head>
        <meta charset="utf-8">
        <title>Karan Shah Login</title>
            <link rel="stylesheet" type="text/css" href="../../Public/CSS/main.css">
        </head>
        <body>
            <main class="container">
            <div class="row">
                <div class="col-sm-12">
                    {{{body}}}
                </div>
            </div>
            </main>
        </body>
    </html>