<style>
    body
    {
       background-color: beige;
       text-align: center;        
    }
    
    #checkerWork
    {
        padding-bottom: 10px;
        padding-top: 20px;
    }
    
    #palindrom
    {
        text-align: center;
        font-weight: bolder;
        font-size: 250%;
    }
    
    #nopalindrom
    {
        text-align: center;
        font-weight: bolder;
        font-size: 250%;
    }
    
    #palinList
    {
        float: left;
        text-align: center;
        color: blue;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        list-style-type: none;
    }
    
    #noPalinList
    {
        float: right;
        text-align: center;
        color: red;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        list-style-type: none;
    }
    
    footer
    {
        padding-top: 75px;
    }
    
    #blueInstructions
    {
        color: blue;
    }
    
    #redInstructions
    {
        color: red;
    }
    
    #button
    {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
</style>